<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".OverlayManager"
            android:exported="false" />
        <!-- Foreground Monitoring Service -->
        <service
            android:name=".AppMonitorService"
            android:exported="false"
            android:foregroundServiceType="dataSync" /> <!-- Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label=""
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Home -->
        <activity
            android:name=".HomeActivity"
            android:label=""
            android:theme="@style/Theme.MyApplication" /> <!-- App Picker -->
        <activity
            android:name=".AppSelectionActivity"
            android:label=""
            android:theme="@style/Theme.MyApplication" /> <!-- Moodboard -->
        <activity
            android:name=".MoodboardActivity"
            android:label=""
            android:theme="@style/Theme.MyApplication" /> <!-- (We won't use BlockingActivity anymore for overlay) -->
        <activity
            android:name=".BlockingActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
    </application>

</manifest>